@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

nav.topNav {
    background-color: #ffffff;
    height: 5vh;
    width: 100vw;
    border-bottom: #c8d1d3 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em 2em 0 2em;
}

nav.topNav h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #324755;
}

nav.topNav i.fas, i.fab {
    color: #324755;
    font-size: 1.5em;
}

nav.searchNav {
    background-color: #ffffff;
    height: 7vh;
    width: 100%;
    border-bottom: #c8d1d3 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
}

.searchContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.searchContainer form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

input.searchNav__searchBar {
    background-color: #f0f3f4;
    border: 1px solid #f0f3f4;
    width: 85%;
    height: 100%;
    border-radius: 4px 0 0 4px;
    padding: 1.1em 3em;
    color: #6E8CA0;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

button.searchNav__searchBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #f0f3f4;
    border: 1px solid #f0f3f4;
    color: #c8d1d3;
    border-radius: 0 4px 4px 0;
    padding: 1.1em;
    font-size: 1.3em;
}

article.articleLink {
    height: 8%;
    padding: 1em 2em;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    font-family: 'Roboto', sans-serif;
    color: #324755;
    border-bottom: #c8d1d3 1px solid;
}

.articleImg {
    width: 100%;
}

.articleImg img {
    width: 100%;
    border-radius: 50%;
}

.articleText {
    padding: 1em 3em;
}

.articleText h3 {
    line-height: 1.5em;
    font-weight: 700;
    font-size: 1.7em;
}

.articleText p {
    font-weight: 300;
    line-height: 1.7em;
    font-size: 1.1em;
}

section.sectionLink {
    height: 3%;
    padding: 1em 2em;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    font-family: 'Roboto', sans-serif;
    color: #324755;
    border-bottom: #c8d1d3 1px solid;
}

section.sectionLink h3 {
    padding: 0.7em 1em 0 1em;
    font-size: 1.6em;
}

section.sectionLink i {
    font-size: 2em;
    padding-top: 0.7em;
}