html, body {
    overflow-x: hidden;
}

.articleFull {
    transition: transform .300s ease-in-out;
    width: 120vw;
}

.archiveBtn {
    width: 100%;
    height: 100%;
    border: 0;
}

.blueBtn {
    background-color: #87BCBF;
}

.redBtn {
    background-color: #D95454;
}

.fas.fa-archive.svg.archiveSvg, .fas.fa-trash.archiveSvg {
    color: #ffffff;
    font-size: 3em;
}

.articleLink {
    height: 8%;
    width: 100%;
    padding: 1em 2em;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: auto;
    font-family: 'Roboto', sans-serif;
    color: #324755;
    border-bottom: #c8d1d3 1px solid;
}

.sectionImg {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
}

.sectionImg i {
    color: #D97D54;
    display: flex;
    width: 100%;
    height: 100%;
}

.articleImg {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.articleImg img {
    width: 100%;
    border-radius: 50%;
}

.articleText {
    padding: 1em 3em;
}

.articleText h3 {
    line-height: 1.5em;
    font-weight: 700;
    font-size: 1.7em;
}

.articleText p {
    font-weight: 300;
    line-height: 1.7em;
    font-size: 1.1em;
}

.sectionLink {
    width: 100%;
    height: 3%;
    padding: 1em 0 1em 2em;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    font-family: 'Roboto', sans-serif;
    color: #324755;
    border-bottom: #c8d1d3 1px solid;
}

body section.sectionLinkHidden {
    display: none;
}

.sectionLink h3 {
    padding: 0.7em 1em 0 1em;
    font-size: 1.6em;
}

.sectionLink i {
    font-size: 2em;
    padding-top: 0.7em;
    padding-left: 0.5em;
    transition: transform .150s ease-in-out;
}

.sectionLink i.rotated {
    transform: rotate(-90deg);
}

p.articleDate {
    font-size: 0.8em;
    padding-top: 1em;
}

.articleFull.moved {
    transform: translateX(-200px);
}