div.settingsPageDark {
    background-color: #3f3f3f;
    color: #ffffff;
}

div.settingsPageDark h3 {
    color: #ffffff;
}

div.newsSettingsDark {
    background-color: #161616;
}

button.darkModeBtnDark {
    background-color: #3f3f3f;
    color: #ffffff;
}

nav.topNavDark {
    background-color: #161616;
    color: #ffffff;
}

.svgDark {
    color: #ffffff;
    font-size: 1.8em;
}

div.sliderAreaDark {
    background-color: #3f3f3f;
}

section.sectionLinkDark {
    background-color: #161616;
    color: #ffffff;
}

nav.searchNavDark {
    background-color: #161616;
    color: #ffffff;
}

article.articleLinkDark {
    background-color: #161616;
    color: #ffffff;
}

input.searchNav__searchBarDark {
    background-color: #2b2b2b;
    border: 1px solid #2b2b2b;
    color: #ffffff;
}

button.searchNav__searchBtnDark {
    background-color: #2b2b2b;
    border: 1px solid #2b2b2b;
}