.topNav {
    background-color: #ffffff;
    height: 5%;
    width: 100%;
    border-bottom: #c8d1d3 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em 2em 2em 2em;
    color: #324755;
}

.topNav div {
    width: 40px;
    display: flex;
    justify-content: center;
}

.topNav h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.svg {
    font-size: 1.8em;
    color: #324755;
}