nav.topNav {
    background-color: #ffffff;
    height: 5%;
    width: 100%;
    border-bottom: #c8d1d3 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em 2em 2em 2em;
}

nav.topNav h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #324755;
}

nav.topNav i.fas, i.fab {
    color: #324755;
    font-size: 1.8em;
}